.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-family: Arial;
}

.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.marker {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><circle cx='5' cy='5' r='5'  fill='rgb(255, 140, 0)' /></svg>");
  background-size: cover;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.marker-zoomed {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18'><circle cx='8' cy='8' r='8'  fill='rgb(255, 140, 0)' /></svg>");
  background-size: cover;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}

.marker-direction {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='20' ><polygon points='0,20 8,0 16,20'  fill='rgb(255, 140, 0)'  /></svg>");
  background-size: cover;
  width: 16px;
  height: 20px;
  cursor: pointer;
}

.marker-grouped {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><circle cx='20' cy='20' r='20'  fill='rgb(255, 140, 0)' /></svg>");
  background-size: cover;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
}
